*.tfstate
*.tfstate.*
.terraform/
**/.terraform/*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.tfvars
*.backup
*.deb
*.zip
*.tar.gz
*.log